.userDetailsBanner{
  height: 355px;
  background-image: url(../../assets/images/userDetailsBg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profile-info{
  background: #FFFFFF;
box-shadow: 30px 30px 60px rgba(26, 34, 39, 0.1);
margin-top: -250px;
}